*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;

    
}

.carousel-item>img{

    height:95vh  ;
}

.img{
    width: 400px    ;
}

.gap{
    gap: 10px;
}
.gap>div{
    height: 200px;
}

.ppp{
    display: flex;
    justify-content: center;
    align-items: center;
}
